.wrap {
    margin: 20px
}

.btn {
    display: flex;
    justify-content: space-between;
}

.btn.close {
    display: none;
}

.srchBack {
    display: none;
}

.srchBack.open {
    display: inline;
}

.element div {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.element .close {
    display: none;
}

.element.close {
    display: none;
}

.element button {
    margin-top: 5px;
}

.addElem {
    display: none;
    margin-top: 20px;
}
.addElem input {
    margin-bottom: 15px;
}

.addElem button {
    margin-top: 10px;
}

.addElem.open {
    display: block;
}

.opEl {
    display: none;
}

.opEl.open {
    display: block;
}

.opEl button {
    display: block;
    margin-top: 50px;
}